[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "complete-alias"]
	path = complete-alias
	url = https://github.com/cykerway/complete-alias.git 
	branch = master
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
[submodule "/home/paul/.dotfiles/starship-gruvbox-rainbow"]
	path = starship-gruvbox-rainbow
	url = https://github.com/fang2hou/starship-gruvbox-rainbow
