[user]
	email = paul@cuciureanu.com
	name = Paul Cuciureanu
	signingkey = 34174D23F04CE669
[core]
	autocrlf = false
	eol = lf
	editor = vi
[safe]
	directory = /home/christina/code/christina.science/infra/compute/sun
	directory = /home/christina/code/christina.science/infra/compute/coriolis
	directory = /home/christina/code/adpd/processing/ants-installer
	directory = /home/christina/code/christina.science/assist/openai
