[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "complete-alias"]
	path = complete-alias
	url = git@github.com:cykerway/complete-alias.git
	branch = master
